third_party/
build/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
CMakeLists.txt.user
CMakeUserPresets.json
docs/doxygen_generated
